.comments {
  display: flex;
  justify-content: center;
  background-color: rgb(200, 205, 211);
}

.comments__container {
  margin: 15px;
  display: grid;
  grid-template-columns: 50px 700px;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(251, 251, 251);
  border-radius: 8px;
}

.comments_likes {
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.comments__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.comments__content {
  grid-column: 2/3;
  padding: 10px;
}
.user-info {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.comments__buttons {
  display: flex;
  gap: 5px;
}

.currentuser-btn {
  display: flex;
  gap: 5px;
}

.rpl-text {
  width: 500px;
  border-radius: 5px;
}

.confirmbtn {
  height: 30px;
  width: 90px;
  border: none;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

.edit-content {
  display: flex;
  justify-content: space-between;
}
